@import url("https://fonts.googleapis.com/css?family=Mirza&amp;subset=latin-ext");
* {
  box-sizing: border-box;
}

:root {
  --imagen-fondo: url('https://scontent.fsap9-1.fna.fbcdn.net/v/t39.30808-6/496150087_9975248422589276_2637224778899721407_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeF5eIkrrD3kggDbbszGA17EyRSXQVFzlgjJFJdBUXOWCEhUqKME5OitFTx7vPdV-CGDHpWcBcoe9oirLnAAAnoC&_nc_ohc=u6bUFnScs38Q7kNvwG61Hwa&_nc_oc=AdkJhqhfC_KrMgX5V6KxT_j8ul1RbN3HBPiH1nRCrESYLzPKtU9eZqHKUOuDOTo6BSg&_nc_zt=23&_nc_ht=scontent.fsap9-1.fna&_nc_gid=kBEQOIusn8i03NcDs0vTQA&oh=00_AfLDdIV8QqxldMuw4qZoqgoVe9U6N93SAuhT2FEVu2_IkA&oe=6829531C');
  --logo-1: url('./1jpg.jpg');
  --logo-2: url('https://scontent.fsap9-1.fna.fbcdn.net/v/t39.30808-6/467621440_8886502441463885_6880986749616539140_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeGzH6QU8n1fNGbQzVgRtDNRQXFv9TOpZt5BcW_1M6lm3thXswwrd1OV-ocCtqatHPcAGtuV0ZnCtjF6Xo3OkfMO&_nc_ohc=B3tvX0mZfCYQ7kNvwFiePvL&_nc_oc=AdlwhTav1gx2C-506fD1NQYlVIKWHo4qxcQ_jaFjObt8rPJNyuBsZ2VoSyVZaF3rqb0&_nc_zt=23&_nc_ht=scontent.fsap9-1.fna&_nc_gid=7UUK5_Bh3Lt1J49Zw3SGaA&oh=00_AfJW1MmZq0nCTYp4h0LNuZUK_ldEn6NE8axDbRz78ZqBig&oe=68292D7C');
}

body {
  background-color: #928a97;
  background-image: url("https://wallpaperaccess.com/full/250147.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 250px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: initial;
  -moz-transition-delay: initial;
  transition-delay: initial;
  -webkit-transform: rotate(-10deg) translate(0, 0);
  -moz-transform: rotate(-10deg) translate(0, 0);
  -ms-transform: rotate(-10deg) translate(0, 0);
  -o-transform: rotate(-10deg) translate(0, 0);
  transform: rotate(-10deg) translate(0, 0);
  -webkit-animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -moz-animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
  animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
@media (max-width: 767px) {
  .card {
    left: calc(50% - 115px);
    top: calc(50% - 164.5px);
  }
}
@media (max-width: 479px) {
  .card {
    left: calc(50% - 75px);
    top: calc(50% - 107px);
  }
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.card.is-opened {
  -webkit-transform: rotate(0deg) translate(175px, 0);
  -moz-transform: rotate(0deg) translate(175px, 0);
  -ms-transform: rotate(0deg) translate(175px, 0);
  -o-transform: rotate(0deg) translate(175px, 0);
  transform: rotate(0deg) translate(175px, 0);
}
@media (max-width: 767px) {
  .card.is-opened {
    -webkit-transform: rotate(0deg) translate(115px, 0);
    -moz-transform: rotate(0deg) translate(115px, 0);
    -ms-transform: rotate(0deg) translate(115px, 0);
    -o-transform: rotate(0deg) translate(115px, 0);
    transform: rotate(0deg) translate(115px, 0);
  }
}
@media (max-width: 479px) {
  .card.is-opened {
    -webkit-transform: rotate(0deg) translate(75px, 0);
    -moz-transform: rotate(0deg) translate(75px, 0);
    -ms-transform: rotate(0deg) translate(75px, 0);
    -o-transform: rotate(0deg) translate(75px, 0);
    transform: rotate(0deg) translate(75px, 0);
  }
}
.card.is-opened .cart-page-front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

@keyframes cardIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) translate(0, -100%);
    -moz-transform: rotate(-10deg) translate(0, -100%);
    -ms-transform: rotate(-10deg) translate(0, -100%);
    -o-transform: rotate(-10deg) translate(0, -100%);
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) translate(0, 0);
    -moz-transform: rotate(-10deg) translate(0, 0);
    -ms-transform: rotate(-10deg) translate(0, 0);
    -o-transform: rotate(-10deg) translate(0, 0);
    transform: rotate(-10deg) translate(0, 0);
  }
}
.card,
.card-page {
  width: 350px;
  height: 500px;
}
@media (max-width: 767px) {
  .card,
  .card-page {
    width: 230px;
    height: 329px;
  }
}
@media (max-width: 479px) {
  .card,
  .card-page {
    width: 150px;
    height: 214px;
  }
}

.card-page {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  cursor: pointer;
  position: absolute;
  outline: 1px solid transparent;
}

.cart-page-front {
  -webkit-transform-origin: 0 50% 0;
  -moz-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  -o-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-20deg);
  -moz-transform: rotateY(-20deg);
  -ms-transform: rotateY(-20deg);
  -o-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 2;
}

.cart-page-outside,
.cart-page-inside {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.cart-page-outside {
  border: 10px solid #fbfbfb;
  background: #c72320
    var(--imagen-fondo)
    no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .cart-page-outside {
    border: 5px solid #fbfbfb;
  }
}

.cart-page-bottom {
  background-image: var(--logo-2)
}

.cart-page-inside{
  background-image: var(--logo-1);
}

.cart-page-inside,
.cart-page-bottom {
  background-color: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 20px solid #d4d1d0;
	color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  text-align: center;
}
@media (max-width: 767px) {
  .cart-page-inside,
  .cart-page-bottom {
    border: 10px solid #d4d1d0;
  }
}

.cart-page-inside {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  border-right: none !important;
  background-position: 0px 80px;
}
@media (max-width: 767px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}

.cart-page-bottom {
  z-index: 1;
  border-left: none !important;
  background-position: -22px 80px;
}
@media (max-width: 767px) {
  .cart-page-bottom {
    background-position: 85px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-bottom {
    background-position: 0px 30px;
  }
}

.merry-christmas {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.merry-christmas svg {
  width: 350px;
  height: auto;
}
@media (max-width: 767px) {
  .merry-christmas svg {
    width: 200px;
  }
}
@media (max-width: 479px) {
  .merry-christmas svg {
    width: 150px;
  }
}

.click-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 20px;
  -webkit-animation: iconAnimation 1s infinite alternate ease-in-out;
  -moz-animation: iconAnimation 1s infinite alternate ease-in-out;
  animation: iconAnimation 1s infinite alternate ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.click-icon svg {
  width: 96px;
  height: 96px;
}
@media (max-width: 767px) {
  .click-icon svg {
    width: 72px;
    height: 72px;
  }
}
@media (max-width: 479px) {
  .click-icon svg {
    width: 48px;
    height: 48px;
  }
}
.click-icon.is-hidden {
  opacity: 0;
}

@keyframes iconAnimation {
  0% {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    -o-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
}
p {
  font-family: "Mirza", Verdana, Arial, serif;
  font-size: 36px;
  line-height: 1.2em;
  padding-left: 10px;
}
@media (max-width: 767px) {
  p {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  p {
    font-size: 20px;
  }
}
